
.mce-panel{
  border-color: $gray-300 !important;
}
.mce-tinymce{
  box-shadow: none !important;
}
.mce-flow-layout{
  background-color: $gray-100 !important;
}
.mce-btn {
  background: transparent !important;
}